<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/Music image.jpg" style="background-position: -10px -10px;
    height: 63px;
    width: 209px;float: left" />
                @Html.ActionLink("Music Store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Browse All", "Store", "Home")</li>
                    <li>
                        <a href="/ShoppingCart/Index" target="_self" data-track="bag" class="cart">
                            cart
                            <div class="badge"></div>
                        </a>
                    </li>                         
                   
                        @*new AjaxOptions{
                       UpdateTargetId = "parial",
                       InsertionMode=InsertionMode.InsertAfter,
                       HttpMethod="GET"*@
                   }
                </ul>
                @Html.Partial("_LoginPartial")
                
                        
                                    
            </div>

            <form id="HeaderSearchForm" name="HeaderSearchForm" method="get" onsubmit="return Epx.Controls.SearchBox.searchBoxOnSubmit(this);">
                <input id="HeaderSearchTextBox" name="query" type="text" maxlength="200" onfocus="Epx.Controls.SearchBox.watermarkFocus(event, this.title)" onblur="Epx.Controls.SearchBox.watermarkBlur(event, this.title)" autocomplete="off">
                <button id="HeaderSearchButton" value="" type="submit" class="header-search-button" title="Search MSDN"></button>
                <div id="SearchFlyoutContainer" style="display: none; text-align: left; border: 1px solid buttonshadow; position: absolute; z-index: 1000; padding: 2px; color: rgb(59, 59, 59); font-family: Arial; font-size: 13.63636302948px; background-color: rgb(255, 255, 255);">
                    <div id="SuggestionContainer">
                        <ul style="list-style: none; padding: 4px 2px 0px 1px; cursor: pointer; margin: 1px; white-space: nowrap;"></ul>
                    </div>
                </div>
            </form>            
                      
            <div class="flyout bag">
                    <div class="arrow"></div>
                    <div class="contents"></div>                    
             </div>
          </div>
    </div>
    <div class="container body-content">
       
        @RenderBody()
        <hr />
     
        <div>

        </div>
        <footer class="navbar-default">
            <span id="val">value</span>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
   
    <script type="text/javascript">
        $(document).ready(function () {
           
            $("a.cart").on('mouseenter', function () {

                $(this).closest('.container').find('.flyout').css({
                    'position': 'absolute', 'top': '55px', 'left': '420px','z-index': '6'                    
                });
                $(this).closest('.container').find('.arrow').css({ 'left': '185px' });
                $(this).closest('.container').find('.flyout').toggleClass('show');
                //alert($(this).closest('.container').find('.flyout').prop("className"));
                //alert($(this).closest('.container').find('.contents').prop("className")+"now going to load");
                //alert($(this).closest('.container').find('.contents').last().prop("className"));
                //$(targeted).load('/ShoppingCart/Index');                
                var targeted = $(this).closest('.container').find('.contents');
                $.get('/ShoppingCart/Index', function (data) {
                    $(targeted).replaceWith(data);
                });
               
            });

            //$(".flyout").filter(".bag").filter(".show").on('mouseover', function (event) { event.preventDefault(); $('#val').text(k); k = 1; $('#val').text(k); });

            $(".flyout").filter(".bag").filter(".show").on('mouseleave', function () {
                alert($(this).prop("className"));
                    $(this).closest('.container').find('.flyout').toggleClass('show');
                                
                //alert($(this).closest('.container').find('.flyout').prop("className"));
                //alert($(this).closest('.container').find('.flyout').prop("className"));
                //$(this).closest('.navbar-collapse').find('.flyout.bag').hide();
            });
            
        })       
    </script>
  
     









    @RenderSection("scripts", required: false)
</body>
</html>
